{% extends "base_login_signup.html" %}
{% block title %}Forgot Password{% endblock %}
{% block contain %}
<div class="container py-5">
    <h3 class="mb-4">Forgot Password</h3>
    <form method="POST">
        <div class="mb-3">
            <label>Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter your registered email" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}