{% extends "base_login_signup.html" %}
{% block title %}Reset Password{% endblock %}
{% block contain %}
<div class="container py-5">
    <h3 class="mb-4">Reset Password</h3>
    <form method="POST">
        <div class="mb-3">
            <label>New Password</label>
            <input type="password" class="form-control" name="password" placeholder="New password" required>
        </div>
        <div class="mb-3">
            <label>Repeat New Password</label>
            <input type="password" class="form-control" name="repeat_password" placeholder="Repeat password" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}